@{
    ViewData["title"] = "Delete componentType";
}

<div class="col-md-12">
  <h2>Delete a componentType</h2>
  <form class="form" asp-action="Delete" asp-route-id="@ViewData["id"]">
    <div class="form-group">
      Are you sure you want to delete the componentType with ID: @ViewData["id"]?
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Yes</button>
      <button type="button" class="btn btn-warning" onclick="window.location.href='../'">No</button>
    </div>
  </form>
</div>