@model ComponentType

@{
    ViewData["title"] = "ComponentType created";
}

<h2>ComponentType created</h2>
<p><strong>Name:</strong> @Model.ComponentName</p>
<p><strong>ID:</strong> @Model.ComponentTypeId</p>