<div class="row">
    <div class="col-xs-12 col-md-8 well well-lg">
        <div *ngIf="!program">Loading...</div>
        <div *ngIf="program">
            <h3>Program title: {{program.title}}</h3>
            <h4>Times completed: {{program.completed}}</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Reps</th>
                    <th>Sets</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let exercise of program.exercises">
                    <td>{{exercise.title}}</td>
                    <td>{{exercise.description}}</td>
                    <td>{{exercise.sets}}</td>
                    <td>{{exercise.reps}}</td>
                    <td class="text-center"><a class="pointer" (click)="removeExercise(exercise)"><i class="material-icons">delete</i></a></td>
                </tr>
                </tbody>
            </table>
            <button (click)="completeProgram()" class="btn btn-default">Complete Program</button>
        </div>
    </div>

    <div class="col-xs-12 col-md-3 col-md-offset-1 well well-lg">
        <button class="btn btn-primary btn-block" routerLink="./add-exercise">Add exercise</button>
    </div>
</div>