doctype html
html
    include includes/head.pug
    script(src="/static/js/add-exercise.js")
    body: div.container
        div.row
            div.col-xs-12
                h1.text-center Add exercise
        div.row
            div.col-xs-12.col-md-8: div.well
                p.
                    Please choose the exercises you want to add from the list below. You can choose multiple exercises.
                    For every exercise you choose, you have to fill out the corresponding set and repetitions fields.
                br
                table.table#exerciseTable
                    th X
                    th Exercise
                    th Description
                    th Set
                    th Repetitions/time
                    if exercises
                        each exercise in exercises
                            tr
                                td: div.checkbox(style="margin:0;padding:0"): label: input(type="checkbox", name="checkbox")
                                td= exercise.name
                                td= exercise.desc
                                td.form-group: input.form-control(name="sets", type="number")
                                td.form-group: input.form-control(name="reps", type="text")
                    else
                        tr
                            td
                            td(colspan=4) No exercises has been added.
                if exercises
                    span#error.text-danger
                    button.btn.btn-success.btn-raised.pull-right#btnAdd(type="submit") Add exercises
                    div.clearfix
            div.col-xs-12.col-md-3.col-md-offset-1: div.well
                button.btn.btn-primary#btnNewExercise Create new exercise
                button.btn.btn-primary#btnBack Go back
        div.hidden#programId= id