doctype html
html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css")
        title Fitness Helper 3000
    body
        div.container
            div.row
                div.col-xs-12: h1.text-center Fitness Helper 3000