doctype html
html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css")
        title Fitness Helper 3000
    body
        div.container
            div.row
                div.col-xs-12
                    h1.text-center Fitness Helper 3000
            div.row
                div.col-md-8.well
                    h2 What is Fitness Helper 3000
                    p 
                        |Fitness Helper 3000 is a website, that can help you keep track of your exercise sets. You can add new sets,
                        |edit old ones or remove them entirely. You decide how the sets should be made, and we'll same them for you. 
                        |This way, you will always be able to pull your exercise sets up when you need them.
