doctype html
html
    include includes/head.pug
    script(src="/static/js/index.js")
    style.
        a.pointer:hover {
            cursor:pointer;
        }
    body: div.container
        div.row
            div.col-xs-12
                h1.text-center Fitness Helper 3000
        div.row
            div.col-md-12.well.well-sm
                h2 What is Fitness Helper 3000
                p 
                    |Fitness Helper 3000 is a website, that can help you keep track of your exercise sets. You can add new sets,
                    |edit old ones or remove them entirely. You decide how the sets should be made, and we'll same them for you. 
                    |This way, you will always be able to pull your exercise sets up when you need them.
        div.row
            div.col-md-12.well.well-sm
                button.btn.btn-primary.btn-raised.pull-right(style="margin-bottom:10px;")#btnAddProgram Add program
                div.clearfix
                div.table-responsive: table.table.table-hover
                    th Titel
                    th Completed
                    th Actions
                    if programs.length > 0
                        each program in programs
                            tr
                                td= program.title
                                td= program.completed
                                td
                                    a.pointer(onclick="seeProgram('" + program._id + "')"): i.material-icons info_outline
                                    a.pointer(onclick="deleteProgram('" + program._id + "')"): i.material-icons delete_forever

                    else
                        tr
                            td(colspan=4) No program has been added.
